.App {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.text-field {
  font-size: 2rem; /* Adjust font size for responsiveness */
  font-weight: bold;
  text-align: center;
}

.feedback-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.feedback-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
  width: 200px;
}

.vertical-line::before {
  content: "";
  border-left: 2px solid white;
  margin: 0 20px;
}

.feedback-section {
  position: fixed;
  height: auto;
  height: 300px; 
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .feedback-section {
    height: 500px;
  }
}


.contact-info {
  margin-left: 1rem; /* Adjust margin for responsiveness */
  text-align: left;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 80%; /* Adjust width for responsiveness */
  height: 40px; /* Adjust height for responsiveness */
  padding: 10px;
  margin: 1rem; /* Adjust margin for responsiveness */
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem; /* Adjust font size for responsiveness */
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem; /* Adjust margin for responsiveness */
}

button:hover {
  background-color: #45a049;
}

.text-field1 {
  font-size: 1rem; /* Adjust font size for responsiveness */
  color: white;
  font-weight: bold;
  text-align: center;
}

.plainText {
  font-size: .8rem; /* Adjust font size for responsiveness */
  color: black;
  font-weight: bold;
}

.smaller {
  font-size: 1.5rem; /* Adjust font size for responsiveness */
  margin-left: 0.5rem; /* Adjust margin for responsiveness */
  margin-right: 0.5rem; /* Adjust margin for responsiveness */
}

.home-container {
  margin: 10px;
  padding: 5px;
  width: 81.25%; /* Consider using a percentage or a max-width value for responsiveness */
  color:black; /* Use 'color' instead of 'text-color' to set text color */
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap; /* Adjust flex-wrap for responsiveness */
}
